.footer {
  display: flex;
  justify-content: space-around;
  vertical-align:middle;
  position: absolute;
  bottom: 0;
  background-color: rgb(249, 249, 249);
  margin: auto;
  width: 100%;
}

.footer ul li {
  list-style: none
}

.footer img {
  width:20%;
  height: 70%; 
  margin-top: 2%;
}

body{
  background-color:bisque
}